In [3]:
import pandas as pd

In [5]:
#pandas as pd pydata documentation
#https://pandas.pydata.org/docs/user_guide/index.html

In [7]:
healthcaredata = pd.read_csv('HealthData.csv')

In [9]:
healthcaredata.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

1. Age: Age in years
2. Sex: The persons gender (M/F)
3. Body Mass Index: A measure of body fat based on height and weight
   Formula weight(kg)/(height (m))^2
4. Children: Number of dependents
5. Smoker: Whether the person smokes or not
6. Region: Residential area in the US (Northeast, Northwest, Southeast, Southwest)
7. Charges: Medical Insurance Cost in USD, this is the target Variable

Objective: Predict Medical Insurance charges based on our 6 features age, sex, bmi, children, smoker, region, charges.

Terminology
- dataset
- EDA
- datapoint, vector, observation
- feature, variable, input-variable
- Label, dependent variable, output variable

Basic Exploration

In [14]:
#how many datapoints and features are there in dataset?
healthcaredata.shape

(1338, 7)

In [16]:
#Summary of dataset
healthcaredata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [20]:
#gather descriptive analytics 
healthcaredata.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [ ]:

#(Q) Calculate the average age and BMI of the individuals in the dataset.

In [28]:
healthcaredata[['age','bmi']].mean()

age    39.207025
bmi    30.663397
dtype: float64

In [ ]:
#(Q)Determine how many smokers and non-smokers are in the dataset, and what percentage of the total each group represents

In [32]:
print(healthcaredata['smoker'].value_counts())

smoker
no     1064
yes     274
Name: count, dtype: int64

In [34]:
healthcaredata['smoker'].value_counts(normalize=True) * 100

smoker
no     79.521674
yes    20.478326
Name: proportion, dtype: float64

In [36]:
#(Q)Find the minimum, maximum, and median insurance charges in the dataset.
healthcaredata['charges'].describe()

#min: 1121.87, Max: 63770.42, Median: 9382.03

count     1338.000000
mean     13270.422265
std      12110.011237
min       1121.873900
25%       4740.287150
50%       9382.033000
75%      16639.912515
max      63770.428010
Name: charges, dtype: float64

In [ ]:
#(Q) Create a new column called 'age_group' that categorizes individuals into 'Young' (18-35), 'Middle-aged' (36-55), and 'Senior' (56+), then calculate the average charges for each age group.

In [44]:
healthcaredata['age_group'] = pd.cut(healthcaredata['age'], bins=[17, 35, 55, 70], labels=['Young', 'Middle-aged', 'Senior'])

In [54]:
healthcaredata.head()

   age     sex     bmi  children smoker     region      charges age_group
0   19  female  27.900         0    yes  southwest  16884.92400     Young
1   18    male  33.770         1     no  southeast   1725.55230     Young
2   28    male  33.000         3     no  southeast   4449.46200     Young
3   33    male  22.705         0     no  northwest  21984.47061     Young
4   32    male  28.880         0     no  northwest   3866.85520     Young

In [56]:
# Calculate the average charges for each age group
healthcaredata.groupby('age_group')['charges'].mean()

/var/folders/k4/hdyy7grd3pg83c9594z86g480000gn/T/ipykernel_37889/1969361970.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  healthcaredata.groupby('age_group')['charges'].mean()

age_group
Young           9744.478281
Middle-aged    14785.693053
Senior         18795.993816
Name: charges, dtype: float64